@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.completed {
  color: rgb(0, 61, 44);
  text-decoration: line-through;
  cursor: pointer;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.todo-list-container {
  max-height: 380px;
  overflow-y: auto;
}
